@media only screen and (max-width: 767px) {

/*------- Home Page Starts -------*/

  /*------- Desktop Logo and Navbar Menu Section Starts -------*/

.bg-logo-navbar-menu-desktop { display: none; }

  /*------- Desktop Logo and Navbar Menu Section Ends -------*/

  /*------- Mobile Logo and Burger Menu Section Starts -------*/

.bg-logo-burger-menu-mobile { background-color: #ffffff; display: block; left: 0; padding: 5px 15px; position: fixed; top: 0; width: 100%; z-index: 10; }
.header-logo-mobile > a { display: inline-block; }
.header-logo-mobile > a > p { color: #ff5240; font-family: "Nunito-Medium"; text-transform: uppercase; }
.header-logo-mobile > a > p > span { color: #007df7; }

    /*------- Mobile Hamburger Menu Section Starts -------*/

.burger-menu { background-color: transparent; cursor: pointer; height: 50px; position: relative; width: 50px; }
.burger-menu span { background-color: #000000; height: 2px; left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -webkit-transition: 0.5s linear 0.5s; -moz-transition: 0.5s linear 0.5s; -ms-transition: 0.5s linear 0.5s; -o-transition: 0.5s linear 0.5s; transition: 0.5s linear 0.5s; width: 25px; }
.burger-menu span::before,
.burger-menu span::after { background-color: #000000; content: ""; height: 2px; position: absolute; top: 10px; -webkit-transition: 0.5s linear; -moz-transition: 0.5s linear; -ms-transition: 0.5s linear; -o-transition: 0.5s linear; transition: 0.5s linear; width: 25px; }
.burger-menu span::before { top: -10px; }
.burger-menu.active span { background-color: transparent; -webkit-transition: 0s linear; -moz-transition: 0s linear; -ms-transition: 0s linear; -o-transition: 0s linear; transition: 0s linear; }
.burger-menu.active span::before { top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.burger-menu.active span::after { top: 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

    /*------- Mobile Hamburger Menu Section Ends -------*/

  /*------- Mobile Logo and Burger Menu Section Ends -------*/

  /*------- Mobile Navbar Menu Section Starts -------*/

.fixed-navbar-menu-mobile { background-color: #fff; bottom: 0; display: block; clip-path: circle(100px at 90% -15%); height: 100%; left: 0; position: fixed; right: 0; top: 0; -webkit-transition: 1s ease; -moz-transition: 1s ease; -ms-transition: 1s ease; -o-transition: 1s ease; transition: 1s ease; width: 100%; z-index: 9; }
.fixed-navbar-menu-mobile.active { clip-path: circle(1000px at 90% -10%); }
.menu-listing-mobile { left: 50%; opacity: 0; position: absolute; top: 40%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -webkit-transition: 1s ease; -moz-transition: 1s ease; -ms-transition: 1s ease; -o-transition: 1s ease; transition: 1s ease; visibility: hidden; width: 100%; z-index: 10; }
.menu-listing-mobile.active { opacity: 1; top: 50%; -webkit-transition: 1s ease 0.25s; -moz-transition: 1s ease 0.25s; -ms-transition: 1s ease 0.25s; -o-transition: 1s ease 0.25s; transition: 1s ease 0.25s; visibility: visible; }
.menu-listing-mobile > li { display: block; margin-bottom: 30px; }
.menu-listing-mobile > li:last-child { margin-bottom: 0; }
.menu-listing-mobile > li > a { color: #000; display: block; font: 2.4rem/1 "Nunito-Light"; text-align: center; }
.menu-listing-mobile > li.active > a,
.menu-listing-mobile > li > a:hover { color: #ff5240; }

  /*------- Mobile Navbar Menu Section Ends -------*/

/*------- Home Page Ends -------*/

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

/*------- Home Page Starts -------*/



/*------- Home Page Ends -------*/

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

/*------- Home Page Starts -------*/



/*------- Home Page Ends -------*/

}